.tile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 557px) {
  .tile-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 2em;
  }
}

.page-name {
  margin: 3em 0;
  text-align: center;
}

.page-name h1 {
  font-weight: 400;
  font-size: 40px;
}

.page-name p {
  margin-top: 0.5em;
  font-weight: 100;
  font-size: 18px;
}

.tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tiles img {
  width: 70vw;
  height: auto;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 700px) {
  .tiles img {
    width: 50vw;
  }
}

.tiles img.more {
  margin: 2em 0;
}

.tiles p.name {
  font-size: 20px;
  font-weight: 400;
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  .tiles p.name {
    font-size: 26px;
    margin-top: 2em;
  }
}

@media screen and (min-width: 1112px) {
  .tiles p.name {
    font-size: 30px;
    margin-top: 3em;
  }
}

.tiles p.desc {
  font-size: 20px;
  font-weight: 100;
  max-width: 90vw;
  margin: auto;
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  .tiles p.desc {
    font-size: 22px;
    margin-top: 1.5em;
    max-width: 75vw;
  }
}

@media screen and (min-width: 1112px) {
  .tiles p.desc {
    font-size: 26px;
    margin-top: 2em;
    max-width: 60vw;
  }
}

.tile-1 {
  background-color: #6ecdff;
  text-align: center;
  padding: 3em 0;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .tile-1 {
    padding: 6em 0;
  }
}

@media screen and (min-width: 1112px) {
  .tile-1 {
    padding: 9em 0;
  }
}

.tile-2 {
  background-color: #ff6f6f;
  text-align: center;
  padding: 3em 0;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .tile-2 {
    padding: 6em 0;
  }
}

@media screen and (min-width: 1112px) {
  .tile-2 {
    padding: 9em 0;
  }
}

.tile-3 {
  background-color: #64f094;
  text-align: center;
  padding: 3em 0;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .tile-3 {
    padding: 6em 0;
  }
}

@media screen and (min-width: 1112px) {
  .tile-3 {
    padding: 9em 0;
  }
}

button {
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  button {
    margin-top: 1.5em;
  }
}

@media screen and (min-width: 1112px) {
  button {
    margin-top: 2em;
  }
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=tiles.css.map */