* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button.landing-button {
  white-space: nowrap;
  font-weight: bold;
}

button.landing-button.blue {
  background: #64c9ff;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 300;
}

button.landing-button.red {
  background: #ff6565;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 300;
}

button.landing-button.green {
  background: #5bef8e;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 300;
}

button.landing-button i {
  padding: 2em;
}

button.landing-button:hover {
  cursor: pointer;
}

.container {
  font-family: Helvetica, Arial sans-serif;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .container .navbar {
    background: #64c9ff;
    -webkit-clip-path: circle(50% at 50% -100%);
            clip-path: circle(50% at 50% -100%);
  }
}

@media screen and (min-width: 1880px) {
  .container .navbar {
    -webkit-clip-path: circle(50% at 50% -110%);
            clip-path: circle(50% at 50% -110%);
  }
}

@media screen and (min-width: 550px) {
  .container .navbar {
    padding-bottom: 2rem;
  }
}

.container .navbar img.me {
  max-width: 25vw;
  height: auto;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container .navbar img.me {
    max-width: 15vw;
  }
}

@media screen and (min-width: 1024px) {
  .container .navbar img.me {
    max-width: 10vw;
  }
}

.container .navbar .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

.container .navbar .socials a {
  padding: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .navbar .socials svg {
  width: 2.5em;
  height: auto;
  color: black;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

@media (min-width: 2000px) {
  .container .navbar .socials svg:hover {
    cursor: none;
    color: #ffffff;
  }
}

.container .main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .container .main-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 2em;
  }
}

.container .main-flex .main-flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

.container .main-flex .main-flex-item .main-flex-header {
  margin: 1em 0;
  font-size: 26px;
  font-weight: 100;
  text-align: center;
}

@media (min-width: 600px) {
  .container .main-flex .main-flex-item .main-flex-header {
    margin: 0;
  }
}

.container footer {
  bottom: 0;
  margin: 20vh 0;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */