// Variables
// Colours
// $blue: #65c1ff;
$blue: #64c9ff;
$red: #ff6565;
$green: #5bef8e;

// Mixins
// Buttons
@mixin landing-button($color) {
  background: $color;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

// Media Queries
// Responsive mq values
$phone-sm: 375px;
$phone-lg: 414px;
$tablet-mini: 768px;
$tablet-sm: 834px;
$tablet-lg: 1024px;
$med-screen: 1880px;
$lg-screen: 2440px;
$tv: 2550px;

// Mixins
@mixin for-phone-only {
  @media screen and (max-width: $phone-lg) {
    @content;
  }
}
@mixin for-phone-up {
  @media screen and (min-width: $phone-sm) {
    @content;
  }
}
@mixin for-tablet-up {
  @media screen and (min-width: $tablet-mini) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media screen and (min-width: $tablet-lg) {
    @content;
  }
}
@mixin for-desktop-up {
  @media screen and (min-width: $tablet-lg) {
    @content;
  }
}
@mixin for-medscrn-up {
  @media screen and (min-width: $med-screen) {
    @content;
  }
}

@mixin for-desktop-only {
  @media screen and (max-width: $med-screen) {
    @content;
  }
}
// Code
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// GLOBAL SCOPE REQUIRED:
// buttons
button.landing-button {
  white-space: nowrap;
  font-weight: bold;

  &.blue {
    @include landing-button($blue);
  }
  &.red {
    @include landing-button($red);
  }
  &.green {
    @include landing-button($green);
  }
  i {
    padding: 2em;
  }
}
button.landing-button:hover {
  cursor: pointer;
}

// Container
.container {
  font-family: Helvetica, Arial sans-serif;

  .navbar {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    @include for-desktop-up() {
      background: $blue;
      clip-path: circle(50% at 50% -100%);
    }
    @include for-medscrn-up() {
      clip-path: circle(50% at 50% -110%);
    }
    @media screen and (min-width: 550px) {
      padding-bottom: 4rem;
    }

    img.me {
      max-width: 25vw;
      height: auto;
      margin: auto;
      //onscroll: max-height: 0;
      @include for-tablet-up() {
        max-width: 15vw;
      }
      @include for-desktop-up() {
        max-width: 10vw;
      }
    }
    .socials {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: auto;

      a {
        padding: 1em;
        align-self: center;
      }
      a:hover {
        cursor: default;
      }
      svg {
        width: 2.5em;
        height: auto;
        color: black;
        transition: 250ms ease-in-out;
      }
      svg:hover {
        cursor: none;
        color: #ffffff;
      }
    }
  }

  .main-flex {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    @include for-tablet-landscape-up() {
      flex-direction: row;
      justify-content: space-around;
      margin-top: 2em;
    }

    .main-flex-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1em 0;

      .main-flex-header {
        margin: 1em 0;
        font-size: 44px;
        font-weight: 100;
        text-align: center;
      }
    }
  }
  footer {
    bottom: 0;
    margin: 20vh 0;
    text-align: center;
  }
}
